{% extends "layout.html" %}

{% block title %}Bookstore{% endblock %}

{% block content %}
    <h1>Homepage Bookstore!</h1>

    <div>
        {% for book in books %}
            <div>
                <h3>Title: {{ book.title }}</h3>
                <p>Author: {{ book.author }}</p>
                <p>Year: {{ book.year }}</p>
                <p>Rating: {{ book.rating }}</p>
                <p>Description: {{ book.description }}</p>
                <a href="{% url 'book' book.id %}">View Book</a>
                <br />
                <br />
            </div>
        {% endfor %} 
    </div>
{% endblock %}
