{% extends 'layout.html' %} 
{% block content %} 
  <div>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.username.label_tag }} {{ form.username }}
      {{ form.password.label_tag }} {{ form.password }}
      <input type="submit" value="Login" />
    </form>

    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Register</a>
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}
  </div>
{% endblock content %}
